@tailwind base;
@tailwind components;

@layer components {
  .background-dark {
    @apply bg-epic-black text-white;
  }
  .background-gray {
    @apply bg-epic-gray-300 text-white;
  }
  .background-image {
    @apply bg-no-repeat bg-center bg-cover;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .main-content {
    @apply w-[88vw] md:w-[95vw] lg:w-9/12;
  }
  .transition-300 {
    @apply transition-transform duration-300 ease-in-out;
  }
  .btn-transition {
    @apply transition ease-out delay-100;
  }
  .carousel-content {
    @apply w-[100%] h-[20rem] xl:w-[58rem] md:h-[25rem] customMd:h-[27.5rem] lg:h-[23rem] xl:h-[29rem] rounded-md;
  }
  .absolute-full {
    @apply absolute left-0 top-0 size-full;
  }
  .epicgames-dropdown {
    @apply absolute left-0 top-14 mt-2 w-80 xl:w-[38rem] origin-top-right rounded-lg;
  }
  .opacity-text {
    @apply text-white text-opacity-60 hover:text-opacity-100;
  }

  /* CAROUSEL SPECIAL DOTS  */
  .dot-special {
    @apply rounded-md cursor-pointer hover:bg-epic-gray-100 relative;
  }
  .dot-special-bg {
    @apply hidden md:flex absolute-full p-2 md:items-center gap-3 z-20;
  }
  .dot-special-bg-anim {
    @apply hidden md:block w-0 z-10 absolute-full rounded-md  bg-epic-gray-50;
  }
  .dot-special-img {
    @apply h-10 w-8 xl:h-14 xl:w-10 rounded-md;
  }
  .dot-basic {
    @apply block bg-white size-2 rounded-full cursor-pointer;
  }
}
@tailwind utilities;
.menu-dropdown .icon-dropdown {
  opacity: 0.8;
  transition: transform 0.2s ease-in-out;
}
.menu-dropdown:hover .icon-dropdown {
  opacity: 1;
  transform: translateY(0.2rem);
  transition: transform 0.2s ease-in-out;
}

@keyframes slideBgDot {
  to {
    width: 100%;
  }
}
